/*
 * Mansonry
 */

.mansonryContainer {
  padding: 20px;
}

.my-gallery-class {
  margin-left: -1em;
  margin-right: -1em;
}

/*
 * common
 */

@mixin breakpoints($selector) {
  #{$selector} {
    @content;
  }
}

/*
 * global
 */

$type    : '.gyoonView';
$name    : '.gyoonCard';

$theme-shadow: 0 1px 3px 0 #D4D4D5,0 0 0 1px #D4D4D5  !default;
$theme-background: #fff  !default;
$theme-radius: .28571429rem  !default;

$layout-width: 190px  !default;
$layout-margin: 1em  !default;

$ani-transition: .6s cubic-bezier(.4,.38,0,1.19)  !default;

$content-topBorder: 1px solid rgba(34,36,38,.1)  !default;
$content-fontSize: 1em  !default;
$content-padding: 1em  !default;
$content-headerColor: rgba(0,0,0,.85)  !default;
$content-headerFontSize: 1.28571429em  !default;
$content-metaFontSize: 1em  !default;
$content-metaColor: rgba(0,0,0,.4)  !default;
$content-descriptionFontSize: .5em  !default;
$content-descriptionColor: rgba(0,0,0,.68)  !default;
$extra-border: 1px solid rgba(0,0,0,.05)!important;
$extra-padding: .75em 1em  !default;
$extra-Color: rgba(0,0,0,.4) !default;

$table-align: (
        left: left,
        center: center,
        right: right
) !default;

/*
 * Build
 */

@mixin layout {
  margin: $layout-margin;
  max-width: 100%;
  width: $layout-width;
  min-height: 0;
  padding: 0;
  border: none;
  position: relative;
  display: flex;
  flex-direction: column;
}

@mixin theme {
  box-shadow: $theme-shadow;
  background: $theme-background;
  border-radius: $theme-radius;
}

@mixin ani {
  transition: $ani-transition;
}

@mixin image {
  position: relative;
  display: block;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 0;
  overflow: hidden;
  > img {
    width: 100%;
    vertical-align: top;
  }
  &:first-child {
    border-radius: .28571429rem .28571429rem 0 0!important;
    border-top: none!important;
  }
}

@mixin content {
  flex-grow: 1;
  border-top: $content-topBorder;
  background: 0 0;
  margin: 0;
  padding: $content-padding;
  box-shadow: none;
  font-size: $content-fontSize;
  border-radius: 0;
  > .header {
    font-weight: 700;
    font-size: $content-headerFontSize;
    margin-top: -.21425em;
    line-height: 1.2857em;
    color: $content-headerColor;
  }
  > .meta {
    font-size: $content-metaFontSize;
    color: $content-metaColor;
  }
  > .description {
    margin-top: $content-descriptionFontSize;
    clear: both;
    color: $content-descriptionColor;
  }
}

@mixin extra {
  max-width: 100%;
  min-height: 0!important;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  flex-grow: 0;
  border-top: $extra-border;
  position: static;
  background: 0 0;
  width: auto;
  margin: 0;
  padding: $extra-padding;
  top: 0;
  left: 0;
  color: $extra-Color;
  box-shadow: none;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

/*
 * Options
 */

@mixin small {
  font-size: 10px;
}
@include breakpoints('.small') {
  @include small;
}

/*
 * Init
 */
@mixin gyoonCard($selector: $name) {
  #{$selector} {
    @include layout;
    @include theme;
    @include ani;
    > .image {
      @include image;
    }
    > .content {
      @include content;
    }
    > .extra {
      @include extra;
    }
  }
}

@include gyoonCard;
