/*
 * Footer
 */
 p.footer {
     text-align: center;
     font-family: sans-serif;
     font-size: 14px;
 }

.blog-footer {
  display: none;
  padding: 40px 0;
  color: #999;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
